<div class="p-grid p-align-center p-justify-center">
    <div class="p-col-12 p-md-8 p-mx-auto">
        <div class="p-card">
            <div class="p-card-body">
                <h2 class="font-bold text-5xl">Términos y Condiciones</h2>
                <div class="grid">
                    <div class="col-12 lg:col-6">
                        <h3 class="font-bold text-2xl">1. Información General</h3>
                        <p class="text-justify">
                            El presente documento establece los Términos y Condiciones aplicables al uso del sitio web
                            de
                            EiBrand (en adelante, "el Sitio").
                            Al acceder o utilizar el Sitio, usted acepta cumplir con estos Términos y Condiciones. La
                            dirección
                            de nuestra empresa es
                            C. 10 Sur 2303-6, Antigua Francisco Villa, 72533 Heroica Puebla de Zaragoza, Pue.
                        </p>

                        <h3 class="font-bold text-2xl">2. Descripción del Servicio</h3>
                        <p class="text-justify">
                            EiBrand proporciona un servicio de personalización de productos y mantiene un sitio web
                            informativo.
                            No se realizan ventas a través del Sitio.
                            Algunos productos están anunciados en el Sitio, pero para acceder al catálogo completo, se
                            debe
                            consultar nuestras redes sociales.
                        </p>

                        <h3 class="font-bold text-2xl">3. Acceso y Uso del Sitio</h3>
                        <p class="text-justify">
                            Para utilizar el Sitio, usted debe ser mayor de edad. El contenido del Sitio es público pero
                            está
                            protegido por derechos de autor.
                            Cada imagen en el Sitio incluye el logo de nuestra marca.
                        </p>

                        <h3 class="font-bold text-2xl">4. Cuentas de Usuario</h3>
                        <p class="text-justify">El uso del Sitio no requiere que los usuarios se registren.</p>

                        <h3 class="font-bold text-2xl">5. Propiedad Intelectual</h3>
                        <p class="text-justify">
                            Todos los recursos utilizados en el Sitio, incluidos el logo y el nombre de la marca, están
                            protegidos por derechos de autor y otras leyes de propiedad intelectual.
                            Su uso no autorizado está prohibido.
                        </p>

                        <h3 class="font-bold text-2xl">6. Política de Privacidad</h3>
                        <p class="text-justify">
                            No recopilamos datos personales ni utilizamos cookies en el Sitio. No estamos sujetos a
                            normas
                            específicas de protección de datos personales debido a esta política.
                        </p>

                        <h3 class="font-bold text-2xl">7. Limitación de Responsabilidad</h3>
                        <p class="text-justify">
                            El Sitio y sus contenidos se proporcionan "tal cual". EiBrand no asume ninguna
                            responsabilidad por
                            errores u omisiones en el Sitio, ni por daños derivados del uso del mismo.
                            En la medida permitida por la ley aplicable, excluimos toda responsabilidad por pérdidas o
                            daños
                            resultantes de la utilización o imposibilidad de uso del Sitio.
                        </p>

                        <h3 class="font-bold text-2xl">8. Modificaciones al Servicio</h3>
                        <p class="text-justify">
                            Nos reservamos el derecho de modificar el contenido del Sitio en cualquier momento.
                            Cualquier cambio
                            relevante será comunicado a través de nuestras redes sociales.
                        </p>

                        <h3 class="font-bold text-2xl">9. Resolución de Disputas</h3>
                        <p class="text-justify">
                            Cualquier disputa que surja en relación con estos Términos y Condiciones será resuelta
                            mediante
                            comunicación directa con el usuario a través de correo electrónico o WhatsApp.
                        </p>

                        <h3 class="font-bold text-2xl">10. Terminación de Uso</h3>
                        <p class="text-justify">
                            El acceso al Sitio está disponible en todo momento, siempre y cuando no se violen los
                            derechos de
                            autor y otras condiciones aquí establecidas.
                            Nos reservamos el derecho de restringir el acceso en caso de incumplimiento.
                        </p>

                        <h3 class="font-bold text-2xl">11. Políticas de Devoluciones</h3>
                        <p class="text-justify">
                            Las políticas de devoluciones están disponibles en una sección separada del Sitio y se
                            aplican a las
                            compras realizadas a través del mismo.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>