<div class="flex justify-content-center">
    <div class="landing-wrapper overflow-hidden">
        <nav>
            <ul class="nav-bar">
                <img src="assets/layout/images/logo-color.svg" alt="Eibrand Logo" height="50" class="mr-0 lg:mr-2">
                <input type="checkbox" id="check">
                <span class="menu">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#nosotros">Nosotros</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#productos">Productos</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                    <label for="check" class="close-menu"><i class="pi pi-fw pi-times"></i></label>
                </span>
                <label for="check" class="open-menu"><i class="pi pi-fw pi-bars"></i></label>
            </ul>
        </nav>

        <section id="home" class="parallax flex flex-column overflow-hidden h-screen">
            <div class="background bg-1"></div>
            <div class="text-center">
                <img src="assets/layout/images/ei.svg" alt="EiLogo" class="responsive-svg">
                <p class="text-7xl lg:text-8xl font-bold line-height-3 text-white">
                    TE DAMOS LA BIENVENIDA
                </p>
                <button class="cta-button">CONÓCENOS</button>
            </div>
        </section>


        <section id="nosotros" class="py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8">
            <div class="text-center">
                <div class="grid">
                    <div class="col-12 lg:col-6">
                        <h1 class="font-bold">SOMOS UNA IMPRENTA CREATIVA</h1>
                        <p class="text-justify text-2xl">Nos especializamos en
                            la <span>personalización de productos</span>, ofreciendo soluciones que abarcan
                            desde textiles
                            hasta una amplia
                            variedad de souvenirs. Con 4 años de experiencia en el mercado, nos enorgullece destacar
                            en nuestro sector, gracias a nuestro compromiso con la <span>calidad premium</span>, la
                            <span>atención al
                                cliente personalizada</span> y nuestra capacidad para atender pedidos desde <span>una
                                sola pieza</span> hasta
                            <span>grandes volúmenes</span>.
                        </p>
                    </div>
                    <div class="col-12 lg:col-6">
                        <img src="assets/eibrand/R8.jpeg" class="image w-11 ">
                    </div>
                </div>
            </div>
        </section>

        <section id="servicios" class="flex flex-column ">
            <div class="text-center">
                <p class="text-7xl lg:text-8xl font-bold line-height-3 text-white">
                    NUESTROS SERVICIOS
                </p>
                <section class="articles">
                    <article class="flex justify-content-center">
                        <div class="article-wrapper text-center">
                            <figure class="flex justify-content-center">
                                <img src="assets/eibrand/personalizado.jpg" alt="" />
                            </figure>
                            <div class="article-body">
                                <h2> Impresión Personalizada</h2>
                                <p>
                                    Ofrecemos servicios de impresión personalizada para una amplia variedad de
                                    productos. Nos especializamos en crear diseños únicos y exclusivos que reflejen la
                                    identidad y el estilo de nuestros clientes. Utilizamos tecnología de impresión de
                                    alta calidad para asegurar colores vibrantes y durabilidad en cada pieza.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="flex justify-content-center">
                        <div class="article-wrapper text-center">
                            <figure class="flex justify-content-center">
                                <img src="assets/eibrand/papeleria.jpg" alt="" />
                            </figure>
                            <div class="article-body">
                                <h2>Papelería Creativa</h2>
                                <p>
                                    Nuestra papelería creativa está diseñada para aquellos que buscan algo especial y
                                    único. Desde tarjetas de invitación hasta papelería corporativa, nuestros productos
                                    destacan por su creatividad y calidad. Nos esforzamos por ofrecer piezas que no solo
                                    sean funcionales, sino también estéticamente agradables.
                                </p>
                            </div>
                        </div>
                    </article>
                    <article class="flex justify-content-center">
                        <div class="article-wrapper text-center">
                            <figure class="flex justify-content-center">
                                <img src="assets/eibrand/blanks.jpg" alt="" />
                            </figure>
                            <div class="article-body">
                                <h2>Producción de Blanks</h2>
                                <p>
                                    Ofrecemos producción en mayoreo de blanks (productos sin personalizar) para empresas
                                    y emprendedores que desean personalizar sus propios productos. Nuestros blanks están
                                    hechos con materiales de alta calidad y están listos para ser personalizados
                                    mediante serigrafía, sublimación, bordado y más.
                                </p>
                            </div>
                        </div>
                    </article>
                </section>
            </div>
        </section>

        <section id="productos" class="flex flex-column">
            <div class="text-center">
                <p class="text-7xl lg:text-8xl font-bold line-height-3 text-white mt-8">
                    PRODUCTOS DESTACADOS
                </p>
                <div class="flex justify-content-center">
                    <div class="gallery">
                        <img src='assets/eibrand/R1.jpeg' alt=''>
                        <img src='assets/eibrand/R2.jpeg' alt=''>
                        <img src='assets/eibrand/R3.jpeg' alt=''>
                        <img src='assets/eibrand/R4.jpeg' alt=''>
                        <img src='assets/eibrand/R5.jpeg' alt=''>
                        <img src='assets/eibrand/R6.jpeg' alt=''>
                        <img src='assets/eibrand/R7.jpeg' alt=''>
                        <img src='assets/eibrand/resource1.jpg' alt=''>
                        <img src='assets/eibrand/R9.jpeg' alt=''>
                        <img src='assets/eibrand/R10.jpeg' alt=''>
                    </div>
                </div>
            </div>
        </section>



        <section id="contacto" class="">

            <div class="py-4 px-4 mx-0 mt-8 lg:mx-8">
                <div class="grid justify-content-between">
                    <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
                        <a (click)="router.navigate(['/'], {fragment: 'home'})"
                            class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
                            <img src="assets/layout/images/logo-white.svg" alt="footer sections" width="50" height="50"
                                class="mr-2">
                        </a>
                    </div>

                    <div class="col-12 md:col-10 lg:col-7">
                        <div class="grid text-center md:text-left">
                            <div class="col-12 md:col-3">

                            </div>

                            <div class="col-12 md:col-3 mt-4 md:mt-0">
                                <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Contacto</h4>
                                <p class="line-height-3 text-xl block mb-2 text-700"><i class="pi pi-map-marker"></i>
                                    C. 10 Sur 2303-6, Antigua Francisco Villa, 72533 Heroica Puebla de Zaragoza,
                                    Pue.</p>
                                <p class="line-height-3 text-xl block mb-2 text-700"><i class="pi pi-phone"></i>
                                    +52 220 192 7912</p>
                                <p class="line-height-3 text-xl block mb-2 text-700"><i class="pi pi-envelope"></i>
                                    eibrandmx&#64;gmail.com</p>
                            </div>

                            <div class="col-12 md:col-3 mt-4 md:mt-0">
                                <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Ayuda</h4>
                                <a href="/terminos" target="_blank" class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Términos y
                                    Condiciones</a>
                                <a href="/devoluciones" target="_blank" class="line-height-3 text-xl block cursor-pointer text-700">Política de
                                    Devoluciones</a>
                            </div>

                            <div class="col-12 md:col-3 mt-4 md:mt-0">
                                <h4 class="text-white font-medium text-2xl line-height-3 mb-3 text-900">Contacto</h4>
                                <a href="https://www.facebook.com/urtshirt.mx" target="_blank"
                                    class="line-height-3 text-xl block cursor-pointer mb-2 text-700"><i
                                        class="pi pi-facebook"></i>
                                    Facebook</a>
                                <a href="https://www.instagram.com/ei.brandmx/" target="_blank"
                                    class="line-height-3 text-xl block cursor-pointer mb-2 text-700"><i
                                        class="pi pi-instagram"></i>
                                    Instagram</a>
                                <a href="https://wa.me/5212201927912" target="_blank"
                                    class="line-height-3 text-xl block cursor-pointer mb-2 text-700"><i
                                        class="pi pi-whatsapp"></i>
                                    Whatsapp</a>
                                <a href="https://maps.app.goo.gl/TqNjY52rWKpjoSxk8" target="_blank"
                                    class="line-height-3 text-xl block cursor-pointer mb-2 text-700"><i
                                        class="pi pi-google"></i>
                                    Google</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>