<div class="p-grid p-align-center p-justify-center">
    <div class="p-col-12 p-md-8 p-mx-auto">
        <div class="p-card">
            <div class="p-card-body">
                <h2 class="font-bold text-5xl">Política de Devoluciones</h2>
                <div class="grid">
                    <div class="col-12 lg:col-6">
                        <h3 class="font-bold text-2xl">1. Generalidades</h3>
                        <p class="text-justify">
                            En Ei Brand Mx, nos esforzamos por ofrecer productos de la más alta calidad y un servicio al
                            cliente excepcional. Si no estás completamente satisfecho con tu compra, estamos aquí para
                            ayudarte.
                        </p>

                        <h3 class="font-bold text-2xl">2. Condiciones para Devoluciones</h3>
                        <p class="text-justify">
                            Para ser elegible para una devolución, tu artículo debe cumplir con las siguientes
                            condiciones:
                        </p>
                        <ul>
                            <li>El artículo debe estar sin usar y en las mismas condiciones en que lo recibiste.</li>
                            <li>Debe estar con su etiqueta y en su empaque original.</li>
                            <li>La solicitud de devolución debe realizarse dentro de los 7 días posteriores a la
                                recepción del producto.</li>
                        </ul>

                        <h3 class="font-bold text-2xl">3. Artículos no elegibles para devolución</h3>
                        <p class="text-justify">
                            Lamentablemente, no podemos aceptar devoluciones en los siguientes casos:
                        </p>
                        <ul>
                            <li>Productos personalizados o hechos a medida (a menos que presenten un defecto de
                                fabricación).</li>
                            <li>Artículos en oferta o con descuento.</li>
                            <li>Productos que muestren signos de uso o daño por parte del cliente.</li>
                        </ul>

                        <h3 class="font-bold text-2xl">4. Proceso de Devolución</h3>
                        <p class="text-justify">Para iniciar una devolución, por favor sigue estos pasos:</p>
                        <ol>
                            <li>Contacta a nuestro equipo de atención al cliente: <span>Envía un correo electrónico a
                                    eibrandmx&#64;gmail.com con tu número de pedido, una descripción del problema y
                                    fotos del producto si es posible.</span></li>
                            <li>Recibe una autorización de devolución: <span>Nuestro equipo revisará tu solicitud y si
                                    es aprobada, te proporcionaremos una etiqueta de envío y las instrucciones para la
                                    devolución.</span></li>
                            <li>Empaca el producto: <span>Coloca el artículo en su empaque original junto con todos los
                                    accesorios.</span></li>
                            <li>Envía el paquete: <span>Utiliza la etiqueta de envío proporcionada para devolvernos el
                                    producto.</span></li>
                        </ol>

                        <h3 class="font-bold text-2xl">5. Reembolsos</h3>
                        <p class="text-justify">
                            Una vez que recibamos e inspeccionemos tu devolución, te notificaremos sobre el estado de tu
                            reembolso. Si se aprueba, se procesará un reembolso a tu método de pago original en un plazo
                            de 5-7 días hábiles.
                        </p>

                        <h3 class="font-bold text-2xl">6. Cambios</h3>
                        <p class="text-justify">
                            Solo reemplazamos artículos si están defectuosos o dañados. Si necesitas cambiarlo por el
                            mismo artículo, envíanos un correo electrónico a eibrandmx&#64;gmail.com y sigue las
                            instrucciones para el proceso de devolución.
                        </p>

                        <h3 class="font-bold text-2xl">7. Envío de Devoluciones</h3>
                        <p class="text-justify">
                            Los costos de envío de la devolución correrán por cuenta del cliente, salvo en casos de
                            productos defectuosos o errores en el pedido. No nos hacemos responsables por devoluciones
                            extraviadas durante el envío; puedes cotizar una guía con nosotros o generarla en el lugar
                            que prefieras. Te recomendamos usar paqueterías de renombre y con seguimiento.
                        </p>

                        <h3 class="font-bold text-2xl">8. Contacto</h3>
                        <p class="text-justify">
                            Para cualquier duda o consulta sobre nuestra política de devoluciones, por favor contáctanos
                            a:
                        </p>

                        <ul>
                            <li>
                                Correo electrónico: <span>eibrandmx&#64;gmail.com</span>
                            </li>
                            <li>
                                Teléfono:: <span>+52 1 220 192 7912</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>